[submodule "ADBench"]
	path = ADBench
	branch = futhark
	url = https://github.com/diku-dk/ADBench.git
[submodule "futhark"]
	path = futhark
        branch = clean-ad
	url = https://github.com/diku-dk/futhark.git
